{% extends 'instruct.html.twig' %}

{% block text %}
    <div class="container mt-2">
        <h5 class="text-center mt-2 mb-3">Welkom administrator op de pagina waarop u de leden van de sportschool kan bekijken, aanpassen en verwijderen</h5>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">e-mailadres</th>
                <th scope="col">voornaam</th>
                <th scope="col">achternaam</th>
                <th scope="col">adres</th>
                <th scope="col">plaats</th>
            </tr>
            </thead>
            <tbody>
            {% for lid in leden %}
            <tr
            >
                <td>{{ lid.email }}</td>
                <td>{{ lid.firstname }}</td>
                <td>{{ lid.lastname }}</td>
                <td>{{ lid.street }}</td>
                <td>{{ lid.place }}</td>
                <td><button class="btn btn-warning"><a href="{{ path('instructAdmin_member_update', {id: lid.id })}}" class="text-decoration-none text-black">update</a></button></td>
                <td><button class="btn btn-danger"><a href="{{ path('instructAdmin_member_delete', {id: lid.id })}}" class="text-decoration-none text-white">delete</a></button></td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}