{% extends 'admin.html.twig' %}

{% block text %}
    {% for msg in app.session.flashbag.get('SUCCESS') %}
            <div class="alert alert-success">
                <div class="text-center"> {{ msg }} </div>
            </div>
    {% endfor %}
    {% for msg in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            <div class="text-center"> {{ msg }} </div>
        </div>
    {% endfor %}
    {% for msg in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">
            <div class="text-center"> {{ msg }} </div>
        </div>
    {% endfor %}
    <div class="container">
        <h4 class="text-center mt-2">welkom {{ name.firstname }} {{ name.lastname }}<br> dit is de homepagina voor u waarop u verder kunt naar het beheren van lessen</h4>
    </div>


{% endblock %}